---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      {% for profile in page.profiles %}
        <hr>
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}

    <hr>
    <h3>Alumni</h3>

<ul>
<li>Maria Dalby, PhD student 2015-2018. Head of Bioinformatics, Muna Therapeutics.</li>
<li>Sarah Rennie, Postdoc 2015-2021. Assistant Professor at University of Copenhagen.</li>
<li>Nicolas Alcaraz, Postdoc 2016-2020. Assistant Professor at University of Copenhagen.</li>
<li>Stylianos Bakoulis, PhD student 2017-2022. Postdoc at University of Copenhagen.</li>
<li>Hjörleifur Einarsson, PhD student & Postdoc 2017-2025. Bioinformatics Research Scientist at Contera Pharma</li>
<li>Lucas van Duin, PhD student 2018-2022.</li>
<li>Carlotta Porcelli, PhD student 2018-2023 (joint with Peter Brodersen). Novo Nordisk.</li>
<li>Robert Krautz, Postdoc 2019-2025. Assistant Professor at University of Copenhagen.</li>
<li>Marco Salvatore, Postdoc 2019-2022. Head of Target & Biomarker Discovery, Abzu.</li>
<li>Renato Salazar, Postdoc 2022-2023. QIAGEN.</li>
<li>Wei-Lin Qiu, Postdoc 2022-2025. Assistant professor ay Inner Mongolia University.</li>
</ul>

  </article>
</div>
